*.aux
*.backup
*.bbl
*.bcf
*.synctex.gz
*.blg
*.log
*.out
*.toc
*.spl
*.tex~
*.run.xml
*-blx.bib
*.dep
*.dpth
*.md5
*.auxlock

overview*.pdf
response_to_reviewers.pdf

.directory

.ipynb_checkpoints
__pycache__
figures/.ipynb_checkpoints
figures/__pycache__
notebooks/.ipynb_checkpoints
notebooks/__pycache__
